{% load staticfiles %}
{% load bootstrap3 %}

{# Delete the '0' to Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!--meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"-->
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'Directories/style.css' %}" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
	</script> 
    <title>{% block title %} University of Macedonia Directories {% endblock %}</title>
</head>

<body>
	<div id="container" align="center">
		{% block navigation %}
		{% load url from future %}
		
			<div id="top">
					<ul class="navBar" >
						<li class="barItem"><a href="{% url 'Directories:index'%}"> ΑΡΧΗ </a></li>
						<li class="barItem"><a href="http://www.uom.gr"> Πανεπιστήμιο Μακεδονίας </a></li>
						<li class="barItem"><a href="about.html"> About page </a></li>
					</ul>
			</div>
			
		{% endblock %}
		{% block login %} 
			<div id="user" align="right">
				{% load url from future %}
				{% if user.is_authenticated %}
					<p>Welcome, {{ user.username }}. Thanks for logging in. <a align="right" href="{% url 'Directories:logout'%}">Logout</a></p>
				{% else %}
					<p>Welcome, new user. Please log in.</p>
				{% endif %}
			</div>
		{% endblock %}
		{% block content %}
		<div id="content">
			<h2> This is the setup </h2>
		</div>
		<div id="bottom">			
		</div>	
		{% endblock %}
	</div>
</body>
</html>
