{% extends "Directories/base_create.html" %}
{% load bootstrap3 %}
{% bootstrap_messages %}
{% block title %} Directories App {% endblock %}
{% load url from future %}
{% block content%} 
	<div id="content" align="center">
		<h3> Insert a new entry to {{model_name}} table </h3> 
		<br />
		<form action="" method="post" class="form"> {% csrf_token %}
		{% bootstrap_form form %} <br />
		{% buttons %}
			<button type="submit" name="_update" class="btn btn-primary"/>
				{% bootstrap_icon "asterisk" %} Create
			</button>
			<button type="reset" name="Clear" class="btn btn-primary" />
				{% bootstrap_icon "asterisk" %} Clear
			</button>
		{% endbuttons %}
		{{ form.fieldname.errors.as_text }}
		<!--input type="submit" name="_update" value="Create" /-->
		<!--input type="reset" name="Clear" value="Clear" /-->
		</form>	
	</div>
{% endblock %}
