{% extends "Directories/base_create.html" %}

{% block title %} Directories App {% endblock %}
{% block content%} 
	<h3> Insert a new entry to {{model_name}} table </h3> 
	<br />
	{{formset.management_form}}
	{0% for form in formset %}
	{{form}}
	{0% endfor %}
	<br />
	{0% for f_name in field_names %}
		{0{ f_name }}
	{0% endfor %}<br />
	<!-- kane counter me forloop (forloop.counter??) wste na deixnei ola ta stoixeia 
	req_data. 
	Mporei na ginei episis kai me .append() se lista -->
	<!-- action = "{0% url 'Directories:list_models'%}"-->
	<form action="" method="post"> {% csrf_token %}
	{0{ form.non_field_errors }}<br />
	{% for f_name in field_names %}	
		{% if not forloop.first %}		
			{{f_name}}:	<input id="edit-{{f_name}}" type="text" name={{f_name}} /><br />
		{% endif %}
	{% endfor %}<br />
	<input type="submit" name="update" value="Update" />
	<input type="reset" name="Clear" value="Clear" />
	</form>	

{% endblock %}
