{% extends "Directories/base.html" %}
{% load bootstrap3 %}
{% bootstrap_messages %}
{% block title %} Directories App {% endblock %}
<body>
{% block jquery %} 
{% load url from future %}
	<script> 
function get_action(submit){
	var theForm = submit.form;
	if (submit.name=="_change") {
		theForm.action = "{% url 'Directories:list_models' %}"  
	}
	else {
		theForm.action = "{% url 'Directories:update_directories'%}"       
	}
}
	</script>
{% endblock %}
{% block content%} 
	<div id="content" align="center">              
		<!-- CSS and alignment changes??? -->
		<div class="messages" align="left">
		{% if messages %}
    		{% for message in messages %}
    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}!</li>
    		{% endfor %}
		</div>
		<br />
		{% endif %}	
    	<h2> Welcome! this is Directories app! </h2> 
				<form action="" method="get">	{% csrf_token %}
					{0{ form.model_classes_field.errors }}
					<p><label for="id_model_classes_field">Choose from one of the existing tables:</label> 
                    <select id="id_model_classes_field" name="model_classes_field"> 		
					{% for choice in form.fields.model_classes_field.choices %}
                           <option value="{{choice.1}}">{{choice.0}}</option> 
                    {% endfor %} 
					</select> </p> 
					<!--{0{form.as_p}} -->
					<!-- cannot uncomment <onclick="get_action(this);"> because it returns MultiValueDictKeyError for model_classes_field -->
					<input type="submit" value="List items" name="_change" onclick="get_action(this);"/-->
					<input type="submit" value="Create" name="_add" onclick="get_action(this);"/-->
                </form>
    </div>
    <div id="bottom">
                
    </div>
{% endblock %}
</body>
