{% extends "Directories/base.html" %}
{% block title %} Directories App {% endblock %}
<body>
{% block jquery %} 
	<script> 
function get_action(submit){
	var theForm = submit.form;
	if (submit.name=="_change") {
		theForm.action = "list"  
	}
	else {
		theForm.action = "edit"       
	}
}
	</script>
{% endblock %}
{% block content%} 
	<div id="content" align="center">              
		<!-- edw 8a mpei to message me ta stoixeia pou proste8ikan kata to modelUpdate view. 8Elei kapoies allages sto CSS kai to alignment! -->
		{% if messages %}
		<div class="messages" align="left">
    		{% for message in messages %}
    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}!</li>
    		{% endfor %}
		</div>
		<br />
		{% endif %}	
		 
    	<h2> Welcome! this is Directories app! </h2> 
                <!-- alternative URL action = "{0% url 'Directories:list_models' 5 %}" --- needs this: {0% load url from future %} before the form initialisation -->
				<form action="" method="get">	{% csrf_token %}
					{{form.as_p}} 
					<input type="submit" value="List items" name="_change" onclick="get_action(this);"/>
					<input type="submit" value="Edit" name="_add" onclick="get_action(this);" />
                </form>
    </div>
    <div id="bottom">
                
    </div>
{% endblock %}
</body>
