{% extends "Directories/base.html" %}
{% load dir_extras %} 
{% block title %} Directories App {% endblock %}

{% block content%} 
	<div id="content" align="center">
		<h2> Welcome! this is Directories app! </h2> 
		<br /> {{field_list}}

		<!-- i am calling my custom inclusion tag. I have defined the tag(function) in my dir_extras.py which includes all my custom template tags. I run the template code of the function in the model_data.html and create the outpu -->
		{% model_data_table %}
{{asa}}
			<!-- ta data tou attr_id vgainoun apo to mod.attr_id -->
			<!-- to idio to attr_id einai to f.name -->
		{0% for f in field_names %}
			{0% for mod in model_list %}
					{0{mod.attr_id}}
					<!-- {0{ mod|field_name:f }} -->
			{0% endfor %}
		{0% endfor %}
		{0{ n }}
		<table>
		<tr>
		{% for f in fields %}
			<th>{{ f.verbose_name }}</th>
		{% endfor %}
			<th>Action</th>
		</tr>		
		<!-- TEST implementation -->
<!-- PREPEI NA KANW TA ROWS COLUMNS I TESPA TO ANAPODO APO AUTO POU KANW. 
DUO TROPOI YPARXOYN:
a) me javascript
b) 8a ta kanw columns mesa apo to views kai meta 8a ta emfanisw...
c) inclusion tag??
-->
		
			
			 <!-- columns number -->
				
				{% for key,val in y %}	
				<tr>
					{% for f in field_list %}
						{% if f == key %}	
							<td> {{val}} </td>
						{% endif %}
					{% endfor %}
				</tr>				
			{% endfor %}

		<!-- RIGHT implementation -->
		{% for x in k %}			
		<tr>		
				
			{% for f in field_names %}
				{% if f == field_list.0 %}
						 <td>{{x}} </td> <!-- need sth like (mod|field_name) -->
				{% endif %}	
			{% endfor %}					
		 <td> <a href="">Edit</a> | <a href="">Details</a> | <a href="">Delete</a> </td>		
		</tr>
		{% endfor %}		
		</table>
	</div>
{% endblock %}
