{% extends "Directories/base.html" %}
{% load dir_extras %} 
{% block title %} Directories App {% endblock %}

{% block content%} 
	<div id="content" align="center">
		<h2> Welcome! this is Directories app! </h2> 
		<br />
			{{model_class}}
			<!-- ta data tou attr_id vgainoun apo to mod.attr_id -->
			<!-- to idio to attr_id einai to f.name -->
		{0% for f in field_names %}
			{0% for mod in model_list %}
					{0{ mod|field_name:f }}
			{0% endfor %}
		{0% endfor %}
		{0{ n }}
		<table>
		<tr>
		{% for f in fields %}
			<th>{{ f.verbose_name }}</th>
		{% endfor %}
		</tr>		
		{% for x in first_elem %}			
		<tr>		
				
			{% for f in fields %}
						 <td>{{x}} {0{ y }}</td> <!-- need sth like (mod|field_name) -->
			{% endfor %}					
		
		</tr>
		{% endfor %}		
		</table>
	</div>
{% endblock %}
