{% extends "Directories/base.html" %}
{% load dir_extras %} 
{% block title %} Directories App {% endblock %}
<body>
{% block content%} 
	<div id="content" align="center">
		<h2> List of Directories! </h2> 
		<br />
		<!-- i am calling my custom inclusion tag. I have defined the tag(function) in my dir_extras.py which includes all my custom template tags. I run the template code of the function in the model_data.html and create the output -->		
		<table class="data-listing">
		<thead>
		{% with fields|slice:"1:" as sliced_fields %}
			<tr>
			{% for field in sliced_fields %}
					<th class="column-{{ field.verbose_name|slugify }}">{{ field.verbose_name|slugify }}</th>
			{% endfor %}
			</tr>
		{% endwith %}
		</thead>
		<form action="" method="post">	{% csrf_token %}
		<tbody>
		{% with field_names|slice:"1:" as sliced_fnames %}		
			<tr>
			{% for f_name in sliced_fnames %}
				{% if f_name = sliced_fnames.0 %}
					<td>
						<ul id="checkFields">
							{% for x,y in form.fields.select_fields.choices %}
						<li>
							<input id="checkbox" name="select_fields" type="checkbox" value="{{x}}" /> {{y}} <br />
						</li>
							{% endfor %}
						</ul>
						<!--{0{form.as_p}}-->
					</td>
				{% else %}
					<td class="column-{{ f_name|slugify }}" name="column-{{ f_name|slugify }}">
						{% field_data model_name f_name %} 
					</td>	
				{% endif %}
			{% endfor %}
		{% endwith %}
		</tbody>
		</table> <br />
		<input type="submit" value="Delete selected items" name="_delete" /> 
		<input type="submit" value="Update selected items" name="_edit" /> 
		</form>
	</div>
{% endblock %}
</body>
