{% extends "Directories/base.html" %}
{% load bootstrap3 %}
{% block content%} 
	<div id="content" align="center">
		{% if messages %}
		<div class="messages" align="left">
    		{% for message in messages %}
    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}!</li>
    		{% endfor %}
		</div>
		<br />
		{% endif %}	
		<h3> Welcome! please provide your details below: </h3>
		<form action="" method="post" class="form"> {% csrf_token %}
			{% bootstrap_form form %} <br />
			{% buttons %}
			<button ype="submit" name="login" class="btn btn-primary"/>
				{% bootstrap_icon "asterisk" %} Login
			</button>
			<button type="reset" name="Clear" class="btn btn-primary" />
				{% bootstrap_icon "asterisk" %} Clear
			</button>
			{% endbuttons %}
			<!--input type="submit" name="login" value="login" />
			<input type="reset" name="Clear" value="Clear" /-->
		</form>
	</div>
{% endblock %}
