{% load dir_extras %}

<table>
	
	{% for data in data_list %}
	<tr>
			{% if forloop.counter0 %}
				<td>check</td>
			{% endif %}
			<td> {{data}} </td>	
	</tr>
	{% endfor %}
</table>

<!--
if not field_list:
		z = create_field_list(model_class)#[count]
		count = 0
		field_counter = 0
		for f_name in field_names:	
			for mod in model_list:
				j = getattr(mod, field_list[count])	
				#strj = '<td> %s </td>' %j		
				c.append(f_name)	
				#k.append(strj)				
				k.append(j)
				
				#j = j.encode('ISO 8859-7')
				#j = j.encode('windows-1253').decode('utf-8')
			count += 1
-->
